// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-lightblue: rgb(222, 250, 255);
$color-lightblue-hover: rgb(196, 246, 255);
$color-darkblue: #2D79BD;
$color-grey: #596d7e;
$color-logo-grey: #3B4551;
