<h1>See all your bookings!</h1>


<ol>
<% current_user.bookings.each do |booking| %>
  <li>
    <p>You've booked: <%= booking.plant.name %> on <%= booking.created_at.to_date  %>. </p>
    <%= booking.plant.user.first_name %>
  </li>
<% end %>
</ol>
