<div class="footer p-3">
  <div class="footer-links">
    <div class="social-media-link">
      <a href="https://github.com/hopefletcher" target="_blank"><i class="fab fa-github"></i></a>
      <p>Hope</p>
    </div>
    <div class="social-media-link">
      <a href="https://github.com/georgehfc" target="_blank"><i class="fab fa-github"></i></a>
      <p>George</p>
    </div>
    <div class="social-media-link">
      <a href="https://github.com/FilipeDias23" target="_blank"><i class="fab fa-github"></i></a>
      <p>Filipe</p>
    </div>
    <div class="social-media-link">
      <a href="https://github.com/ClaudiaTr" target="_blank"><i class="fab fa-github"></i></a>
      <p>Claudia</p>
    </div>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> In collaboration with <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a> <i class="fas fa-heart"></i> Ⓒ 2022
  </div>
</div>
