<div class="top_text">
  <p>Find your plant Match 🪴</p>
</div>
<div class="banner_container">
  <div class="text_banner">
  <h1>Find the perfect plant, near you</h1>
  <p>Bring your space to life with leafy greens</p>
  <%= link_to "Shop all Plants", "#", class: "btn btn-flat" %>
  <%= link_to "Shop all Plants", "#", class: "btn btn-flat" %>
  </div>
  <div class="image_banner">
    <%= cl_image_tag("sonnie-hiles-iANAdaNu7mg-unsplash_nzwvbz") %>
  </div>
</div>
