<div class="plants5">
  <div class="container">
    <h2 style="color:white; text-align:center; margin-top: 15px;"> <strong>New Plant</strong></h2>
    <%= render "form", plant: @plant %>
  </div>
</div>
