.alert {
  width: fit-content;
  color: #87A878;
  text-align: end;
  // background-color: #1B2F33;
  margin: 0;
  padding: 16px 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.notice {
  width: fit-content;
  color: #87A878;
  text-align: end;
  background-color: #1B2F33;
  margin: 0;
  padding: 16px 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}
