.plants {
  background-image: url("https://images5.alphacoders.com/108/1085305.jpg");
  background-size: cover;
  opacity: 0.9;
  min-height: 100vh;
}

.plants2 {
  background-image: url("https://images6.alphacoders.com/109/1098127.jpg");
  background-size: cover;
  opacity: 0.9;
  min-height: 100vh;
}

.plants3 {
  background-image: url("https://images5.alphacoders.com/117/1171598.jpg");
  background-size: cover;
  opacity: 0.9;
  min-height: 100vh;
}

.plants4 {
  background-image: url("https://wallpapercave.com/wp/wp9246964.jpg");
  background-size: cover;
  opacity: 0.9;
  padding: 20px 0;
  // height: 100vh;
}
.plants5 {
  background-image: url("https://wallpapercave.com/dwp2x/wp9246921.jpg");
  background-size: cover;
  opacity: 0.95;
  height: 100vh;
}
