.banner_container {
  background-color: #e8faf8;
  display: flex;
  gap: 50px;
  padding-left: 120px;
}

.text_banner h1 {
  font-size: 70px;
  padding-bottom: 20px;
  font-family: monserrat;
  text-align: center;
  line-height: 70px;
}

.img_banner {
  object-fit: cover;
  width: 100%;
}

.image_banner {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  width: 100%;
}

.text_banner {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 34px;
  margin-left: 50px;
  display: flex;
}
.text_banner p {
  font-size: 16px;
  padding-bottom: 10px;
}

.search_btn {
  color: white;
  padding: 3px 4px;
  border-radius: 4px;
  background: #00ab5b;
  transition: background 0.3s ease;
  text-decoration: none;
  display: inline;
  margin: 4px;
}

.banner_btn {
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  background: #00ab5b;
  transition: background 0.3s ease;
  text-decoration: none;
  display: inline;
  margin: 4px;
  flex-grow: 1
}

.btn-flat:hover {
  background: #133d1a;
  color: white;
}

.butt {
  display: block;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}

.btn-form {
  padding: 15px 30px;
  gap: 10px;
  margin: 20px;
  border-radius: 4px;
  display: block;
  justify-content: center;
  background-color: #2E78BD;
  color:white;
}

.search_btn {
  position: relative;
  bottom: 85px;
  left: 278px;
  background: #00ab5b;
  color: white;
}

.search_btn:hover {
  background: #133d1a;
  color: white;
}

.form-control {
  width: 418px;
}
