.banner_container {
  background-color: #e8faf8;
  display: flex;
  }

h1 {
  font-size: 70px;
  padding-bottom: 20px;
  font-family: monserrat;
  text-align: center;
}

.btn {
  padding: 50px;
  gap: 10px;
}

.image_banner {
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
}

.text_banner {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 34px;
  margin-left: 50px;
  display: flex;
}
.text_banner p {
  font-size: 16px;
  padding-bottom: 10px;
}

.btn-flat {
  color: white;
  padding: 9px 4px;
  border-radius: 4px;
  background: #00ab5b;
  transition: background 0.3s ease;
  text-decoration: none;
  display: inline;
  margin: 4px;
  flex-grow: 1
}

.btn-flat:hover {
  background: #133d1a;
  color: white;
}

.butt {
  display: block;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}

h2 {
  text-align: center;
  margin: 24px;
  color: white;
}
