.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 8px;
  border-radius: 4px;
  height: 200px;
  width: 700px;
}

.card-product img {
  height: 120px;
  width: 100px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  width: 200px;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 36px;
}

.card-product li {
  list-style: none;
}

.booking_img {
  height: 100%;
  width: 50px;
  object-fit: cover;
}



.my-card {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 24px;
  margin: 12px;
  border-radius: 4px;
  height: 200px;
  width: 700px;
}

.my-card img {
  height: 160px;
  width: 140px;
  object-fit: cover;
  margin-right: 24px;
}

.my-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  width: 200px;
}

.my-card p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.my-card .my-card-infos {
  padding: 36px;
}

.my-card li {
  list-style: none;
}

.card-product-infos a {
  font-size: 22px;
}
