.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 80px;
}

.card {
  display: flex;
  align-content: center;
  max-width: fit-content;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card:hover {
  transform: scale(1.1) rotate(2deg);
}

.card p {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 13px;
}

.collections h1 {
  font-size: 40px;
  font-family: monserrat;
  padding-left: 20px;
  padding-top: 30px;
}
