.dropdown {
  padding: 6px;
  gap: 8px;
}

.drop {
  padding: 8px;
  gap: 4px;
  border-radius: 4px;
  background-color: #fefefe;
  border: 1px solid #dedede;
  color: black;
}

.bag {
  padding: 8px;
}
