.filter {
  border: 0.0625rem solid #dedede;
  width: 278px;
  height: fit-content;
}

.filter_header {
  display: flex;
  justify-content: space-between;
  padding: 9px 2px 7px 2px;
  background-color: darkseagreen;
}

.filter_attributes {
  display: flex;
  justify-content: space-between;
}

.filter_attributes h4 {

}
