.footer {
  background: $color-lightblue;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 35px;
}

.footer-links {
  display: inline-flex;
}

.social-media-link {
  margin: 0.5em;
  p {
    margin: 0;
  }
}

.fab {
  color: $color-darkblue;
  font-size: 26px;
  padding: 0px 5px;
  &:hover {
    color: $color-darkgrey;
  }
}

ul {
  display: inline-flex;
  list-style-type: none;
  padding: 5px;
  margin: 0.5em 0;
  li  {
    padding: 0 10px;
  }
}
