.footer {
  width: 100vw;
  background: #1B2F33;
  text-align: center;
  color: $color-darkblue;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.footer-links {
  display: inline-flex;
}

.social-media-link {
  margin: 5px;
  p {
    margin: 0;
    color: #87A878;
    font-size: 14px;
  }
}

.fab {
  color: $color-darkblue;
  font-size: 36px;
  padding: 0px 5px;
  &:hover {
    color: $color-grey;
  }
}

.footer-copyright {
  font-size: 14px;
  a {
  text-decoration: none;
  color:#87A878;
  }
  &:hover {
    color: $color-grey;
  }
}
