
.navbar-lewagon {
  justify-content: space-between;
  background: $color-lightblue;
  margin-top: 0;
  margin-bottom: 35px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  margin: 3px;
  img {
  width: 60px;
  }
}

.nav-link {
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-grow: 1;
  margin: 10px;
}

.form-control {
  height: 90%;
}

.btn {
  display: flex;
  .fas {
    padding: 5px;
  }
}

#company-name {
  font-family: 'Megrim', cursive;
  font-size: 48px;
  margin-bottom: 0;
  color: $color-logo-grey;
  letter-spacing: -0.1em;
  transform: scaleY(1.2);
  // text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

#logo {
  display: flex;
}

#login {
  display: flex;
}
