.plant_cards {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  gap: 2px;
  width: 100%;
}

.card_plants {
  display: grid;
  grid-gap: 16px;
  border: 0.0625rem solid #dedede;
  font-family: 'Ibarra Real Nova', serif;
}

.card_plants a {
  color: #313232;
  text-decoration: none;
  font-weight: 800;
}

.card_plants img {
  object-fit: cover;
}
.card_plants p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .75rem;
  font-family:Arial, Helvetica, sans-serif;
}

.card_plants h3 {
  text-align: center;
}

.card_plants a {
  color: #313232;
}


.card_plants h5 {
  text-align: center;
}

.bag {
  padding: 7px;
  border-color: #026838;
  color: #313232;
  box-shadow: none;
  background-color:#00ab5b;
  font-weight: 800;
}

.bag:hover {
  background-color: #b8f1c2;
}
