.all_plants {
  max-width: none;
}

.header {
  font-weight: 500;
  color: #313232;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.header {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.header p {
  position: relative;
  bottom: -24px;
  left: 677px;
  text-decoration-line: underline;
  font-weight: 700;
}

.header p a {
  text-decoration: none;
  color: #313232;
}

.plant-header {
  color: white;
  text-align: center;
  margin: 14px;
}
